<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
       <h3> Your Reservations </h3>
      </div>
      <div class="panel-body">

        <% @hotels.each do |hotel| %>
          <% hotel.bookings.each do |booking| %>
            <div class="row">
              <div class="col-md-8">
              <div class="details">
              <h6> <strong> Check-in </strong> </h6>
                <%= booking.start_date%>
            
                <%# <div class="row"> %>
              <div class="col-md-8">
               <h6><strong> Check-out </strong> </h6>
                <%= booking.end_date%>
              </div>
               <div class="row">
              <div class="col-md-8">  
              <% count = (booking.end_date.mjd - booking.start_date.mjd) %>
                <h6> <strong> Total cost for <%= count %> nights </strong> <h6>  
             <h6> £ <%=  count * hotel.price %> </h6>

              <div class="row">
              <div class="col-md-8"> 

              <h6> <strong> Hosted by </strong>  </h6>
              <%= hotel.name %>
    
              </div>
                <%= link_to hotel_path(booking.hotel) do %>
                  <% end %>
              </div>
              <div class="col-md-5">
                <%= link_to booking.hotel.name, hotel_path(booking.hotel) %><br /><br />
                </div>
                </div>

              </div>
              </div>
            </div>
            <hr />
          <% end %>
        <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
